.register {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    transition: background-image 1s ease;
    color: #000;
}

h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
}

.input-group {
    font-size: 20px;
    margin: 20px;
    color: #000;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 300px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 18px;
}

.input-group input:focus {
    outline: none;
}

.input-group button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 3px;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.6s ease;
    font-size: 18px;
}

.input-group button:hover {
    background-color: #fff;
    color: #000;
}

.login-link {
    text-align: center;
    margin-top: 10px;
    color: #000;
}

.login-link a {
    color: #007bff;
    text-decoration: none;
}

.login-link a:hover {
    text-decoration: underline;
}